<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/app.css">
</head>

<body>

<div class="container">
  <div class="message curlyborder">    
    <div class="title curlyborder">    
        <table>
          <tr>
            <td><img src="images/atomiclogosmall.jpg"></td>
            <td>
              <div class="span">
                Atomic Chess Theoreticians Discord Server<hr>
                <div class="title titleexplain">
                  Support Page                  
                </div>
              </div>
            </td>
            <td><img src="images/atomiclogosmall.jpg"></td>
          </tr>
        </table>        
    </div>
    <div class="text curlyborder">        
      To activate the bots, you have to visit this support page first.
      <div class="explain curlyborder">
          If you can see this message, the bots should be already running.
      </div>            
    </div>    
    <div class="text curlyborder">        
      Want to play chess?
      <div class="explain explainchess curlyborder">
        <a href="/chess/index.html">ACT Chess Interface</a>
      <div>
    </div>    
  </div>
</div>

</body>

</html>
