<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/app.css">
</head>

<body>

<div class="container">
  <div class="message curlyborder">
    Welcome to the
    <div class="title curlyborder">    
        <table>
          <tr>
            <td><img src="images/atomiclogosmall.jpg"></td>
            <td><div class="span">Atomic Chess Theoreticians Discord Server</div></td>
            <td><img src="images/atomiclogosmall.jpg"></td>
          </tr>
        </table>        
    </div>
    Support Page
    <div class="text curlyborder">        
      To activate the bots, you have to visit this page first.      
      <div class="explain curlyborder">
          If you can see this message, the bots should be already running.
      </div>            
    </div>    
  </div>
</div>

</body>

</html>
